<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wak.mapper.WakTransferlogMapper">
    
    <resultMap type="WakTransferlog" id="WakTransferlogResult">
        <result property="id"    column="id"    />
        <result property="address"    column="address"    />
        <result property="usdt"    column="usdt"    />
        <result property="hash"    column="hash"    />
        <result property="shouAddress"    column="shou_address"    />
        <result property="status"    column="status"    />
        <result property="createtime"    column="createtime"    />
        <result property="agentid"    column="agentid"    />
    </resultMap>

    <sql id="selectWakTransferlogVo">
        select id, address, usdt, hash, shou_address, status, createtime, agentid from wak_transferlog
    </sql>

    <select id="selectWakTransferlogList" parameterType="WakTransferlog" resultMap="WakTransferlogResult">
        <include refid="selectWakTransferlogVo"/>
        <where>  
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
            <if test="hash != null  and hash != ''"> and hash = #{hash}</if>
            <if test="shouAddress != null  and shouAddress != ''"> and shou_address = #{shouAddress}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="params.beginCreatetime != null and params.beginCreatetime != '' and params.endCreatetime != null and params.endCreatetime != ''"> and createtime between #{params.beginCreatetime} and #{params.endCreatetime}</if>
            <if test="agentid != null "> and agentid = #{agentid}</if>
        </where>
        ORDER BY id DESC
    </select>
    
    <select id="selectWakTransferlogById" parameterType="Long" resultMap="WakTransferlogResult">
        <include refid="selectWakTransferlogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWakTransferlog" parameterType="WakTransferlog" useGeneratedKeys="true" keyProperty="id">
        insert into wak_transferlog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="address != null">address,</if>
            <if test="usdt != null">usdt,</if>
            <if test="hash != null">hash,</if>
            <if test="shouAddress != null">shou_address,</if>
            <if test="status != null">status,</if>
            <if test="createtime != null">createtime,</if>
            <if test="agentid != null">agentid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="address != null">#{address},</if>
            <if test="usdt != null">#{usdt},</if>
            <if test="hash != null">#{hash},</if>
            <if test="shouAddress != null">#{shouAddress},</if>
            <if test="status != null">#{status},</if>
            <if test="createtime != null">#{createtime},</if>
            <if test="agentid != null">#{agentid},</if>
         </trim>
    </insert>

    <update id="updateWakTransferlog" parameterType="WakTransferlog">
        update wak_transferlog
        <trim prefix="SET" suffixOverrides=",">
            <if test="address != null">address = #{address},</if>
            <if test="usdt != null">usdt = #{usdt},</if>
            <if test="hash != null">hash = #{hash},</if>
            <if test="shouAddress != null">shou_address = #{shouAddress},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createtime != null">createtime = #{createtime},</if>
            <if test="agentid != null">agentid = #{agentid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWakTransferlogById" parameterType="Long">
        delete from wak_transferlog where id = #{id}
    </delete>

    <delete id="deleteWakTransferlogByIds" parameterType="String">
        delete from wak_transferlog where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>